{% extends "base.html" %}

{% load static %}

<!--empty header container-->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<!--Card from W3 school profile card-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
<!---Coach Profile-->
        <div class="card">
            {% if facility.image %}
            <img src="{{ facility.image.url }}" alt="{{ facility.name }}" style="width:100%">
            {% else %}
            <img src="{{ MEDIA_URL }}noimage.jpg"  alt="{{ facility.name }}" style="width:100%">
            {% endif %}
        <h1>John Doe</h1>
            <p class="title">CEO & Founder, Example</p>
            <p>Harvard University</p>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/andrew_burns_moves/"><i class="fa fa-facebook"></i></a>
            <p><button>Contact</button></p>
        </div>
    </div>
</div>

{% endblock %}