{% extends "base.html" %}

{% load static %}

<!--empty header container-->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100"> 
        <div class="col-7 col-md-6 my-auto">
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}?category=online_class,kettlebell_class,lean_machine,pilates,online_membership,public_membership,corporate_membership,membership_student" class="gym-now-button btn-lg rounded-0 text-uppercase py-3">Get Lean Now </a>
                </h4>
            </div>
        </div> 
    </div>
</div>

{% endblock %}