{% extends "base.html" %}

{% load static %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

<!--empty header container-->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Temple Lean Profile</h2>
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6">
        <p class="text-muted">Profile Information</p>
        <div class="card-deck">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <button class="card-text gym-now-button">Update profile</button>
                </div>
            </div>


        </div>

        <div class="col-12 col-lg-6">

        </div>
    </div>
</div>

{% endblock %}