{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'facilities/css/facility.css' %}">
{% endblock %}

<!--empty header container-->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Facilties</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        {% for facility in facilities %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="card-deck mt-3 mb-3">
                <div class="card">
                        {% if facility.image %}
                        <img src="{{ facility.image.url }}" alt="{{ facility.name }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}noimage.jpg"  alt="{{ facility.name }}">
                        {% endif %}
                    <div class="card-body">
                        <h5>{{ facility.name }}</h5>
                        <p>{{ facility.description }}</p>
                        <h7>Testimonial:</h7>
                        <p class="testimonials">{{ facility.testimonial }}</p>
                        <p>Current Rating: {{ facility.rating }}/5</p>
                        <a href="{% url 'products' %}?category=online_membership,public_membership,corporate_membership,membership_student" class="btn buy-now-button">Buy Membership</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}