
/*--Home page--*/

html {
    height: 100%;
}

body {
    background: url('/media/homebackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'RocknRoll One';
}

.text-lean {
    color:#1a1a1a;
}

/*--homepage header--*/
.top-banner{
    background-color: #80C4FF;
    color:#1a1a1a;   
}

/*--Footer--*/
footer {
    background-color:#80C4FF;
    color:#1a1a1a;
}