
/*--Color text #1a1a1a background color #80C4FF a:hover #98f2a4--*/

/*--General--*/

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.border-black {
    border: 1px solid black !important;
}


/*--Home page--*/

html {
    height: 100%;
}

body {
    background: url('/media/homebackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 175px);
    color: #1a1a1a;
    font-family: 'RocknRoll One';
}

.text-lean {
    color:#1a1a1a;
}

/*--homepage header--*/
.top-banner{
    background-color: #80C4FF;
    color:#1a1a1a;   
}


i {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color:#1a1a1a;
    font-size: 24px;
}

.logo-font {
    text-transform: uppercase;
}

/*--Main Navbar--*/
.navbar-color {
  background-color:#80C4FF;
  border: 1px solid black !important;  
}

.navbar-toggler {
    border: 2px solid black !important;
}

/*---Hover---*/
a:hover {
    background: #98f2a4;
    color:#ff80c7;
}

/*---buttons--*/
.gym-now-button, 
.buy-now-button{
    background: #80C4FF;
    color:#1a1a1a;
    min-width: 260px;
}

.gym-now-button:hover{
    background:#1a1a1a;
    color:#80C4FF;
}

.btn-secondary {
    background: #1a1a1a;
    color:#80C4FF;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/*--Footer--*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



footer {
    background-color:#80C4FF;
    color:#1a1a1a;
}

.social-media a {
  font-size: 36px;
  padding-left: auto;
  color: #1a1a1a;
}

.social-media a:hover {
    background: #98f2a4;
    color:#ff80c7;
}




/*--Media Queries--*/

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 175px;
    }
}