{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid"></div>
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
            {% else %}
            <img src="{{ MEDIA_URL }}noimage.jpg" class="img-fluid" alt="{{ product.name }}">
            {% endif %}
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card-body">
                <h5 class="card-title"> {{ product.name }}</h5>
                <p class="card-text"></p>
                <p class="card-text"><a class="buy-now-button btn-lg">Add to Gym bag</a></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}